.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.wallet-info {
  background-color: #c2bdbd;
  padding: 1.5em;
  border-radius: 8px;
  width: 100%;
  margin-top: 1em;
  text-align: left;
  margin-bottom: 4em;
}

.transaction {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.tx-result {
  background-color: #2a2a2a;
  padding: 1em;
  border-radius: 8px;
  margin-top: 1em;
  text-align: left;
  word-break: break-all;
}

.read-the-docs {
  color: #888;
}
